### Geographic Data Generator

In [1]:
import json as json
import numpy as np
import random as random
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#### Cities

In [10]:
with open("cities.json", 'r') as fw:
    cities = json.load(fw)

In [33]:
cities['Nepal']

['Pokhara',
 'KATHMANDU',
 'Lalitpur',
 'Bharatpur',
 'Dhangadhi',
 'Birgunj',
 'Butwal',
 'Biratnagar',
 'Dharan',
 'Bhimdutta']

#### Lat-Long

In [17]:
with open("countries_lat_long.json", 'r') as fw:
    latlong = json.load(fw)

In [32]:
latlong[0:5]

[{'sym': 'AD', 'name': 'Andorra', 'lat': '42.546245', 'lon': '1.601554'},
 {'sym': 'AE',
  'name': 'United-Arab-Emirates',
  'lat': '23.424076',
  'lon': '53.847818'},
 {'sym': 'AF', 'name': 'Afghanistan', 'lat': '33.93911', 'lon': '67.709953'},
 {'sym': 'AG',
  'name': 'Antigua-and-Barbuda',
  'lat': '17.060816',
  'lon': '-61.796428'},
 {'sym': 'AI', 'name': 'Anguilla', 'lat': '18.220554', 'lon': '-63.068615'}]

#### Countries-cities-lat-long

In [30]:
Data = []
for item in latlong:
    country = item['name']
    ID = item['sym']
    lat = itm['lat']
    lon = itm['lon']
    
    if country in cities.keys():
        ctz = cities[country]
    else:
        ctz : "NA"
            
    Data.append({'name': country, \
                 "cities":ctz,\
                 "lat": lat,\
                 "lon":lon,\
                  'ID': ID})

In [34]:
Data[0:5]

[{'name': 'Andorra',
  'cities': ['ANDORRA LA VELLA'],
  'lat': '-19.015438',
  'lon': '29.154857',
  'ID': 'AD'},
 {'name': 'United-Arab-Emirates',
  'cities': ['ANDORRA LA VELLA'],
  'lat': '-19.015438',
  'lon': '29.154857',
  'ID': 'AE'},
 {'name': 'Afghanistan',
  'cities': ['ANDORRA LA VELLA'],
  'lat': '-19.015438',
  'lon': '29.154857',
  'ID': 'AF'},
 {'name': 'Antigua-and-Barbuda',
  'cities': ['ANDORRA LA VELLA'],
  'lat': '-19.015438',
  'lon': '29.154857',
  'ID': 'AG'},
 {'name': 'Anguilla',
  'cities': ['THE VALLEY'],
  'lat': '-19.015438',
  'lon': '29.154857',
  'ID': 'AI'}]

In [36]:
with open("world.json", 'w')as fw:
    json.dump(Data,fw)

------